results/
CLAUDE.md
claude_plans/

**/archive/
**/__pycache__/
**/.ipynb_checkpoints/
**/x86_64/
**/x64_86/
*.gexf
*.log
docs/build/
examples/*/biophys/mod/*/
!examples/*/biophys/mod/*.mod
examples/*/biophys/mod/std*.mod
examples/*/biophys/python/std*.py
!examples/Test/biophys/mod/std*.mod
!examples/Test/biophys/python/std*.py
examples/*/membrane/mod/*/
!examples/*/membrane/mod/*.mod
examples/*/membrane/mod/std*.mod
examples/*/membrane/python/std*.py
!examples/Test/membrane/mod/std*.mod
!examples/Test/membrane/python/std*.py
examples/Default/
examples/Templates/
*.egg-info
dist/
**temp_mod/
*.npy
**__pycache__/
tutorials/examples/
docs/source/tutorials/examples/
exploration.ipynb
examples/_*/
examples/*/_*
examples/*/stimuli/_*/
